@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Quicksand:wght@300..700&display=swap');

.cabecalho {
    background-color: #DE2D1D;
    font-size: 18px;
    font-family: 'Poppins' sans-serif;
    padding: 30px;
}

.titulo {
    color: #FFFFFF;
    margin-left: 30px;
}